<div ng-controller="RegisterUserController">

  <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>

  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="Name" ng-model="user.name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email" ng-model="user.email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="4-digit PIN" ng-model="user.pin">
    </label>
    <button class="button button-block button-positive" ng-click="registerUser()">
      Signup
    </button>
  </div>

</div>
